/* ---- SEARCH CUSTOMER ---- */

#header {
    font-size: 3rem;
    margin: 1rem 0 2rem 0;
}

#dashboard-form {
    width: 19rem;
    margin: 1rem auto;
}

#dashboard div {
    display: flex;
    justify-content: center;
}

#customers {
    width: 10rem;
    height: 1rem;
}

#fetch-button {
    width: 9rem;
    height: 3rem;
    margin: 2rem 0 1rem 3.5rem;
    border-radius: 3rem;
    border-width: 0;
    background-color: crimson;
    font-size: 1.8rem;
    color: whitesmoke;
    font-family: monospace;
}


/* ----- CUSTOMER DETAILS ------ */

#display-customer-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: monospace;
    margin: 2rem 0;
}

.customer-details {
    padding-left: 6rem;
}

.customer-details input {
    width: 12rem;
    height: 1rem;
}

.customer-details div {
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    margin: .5rem 1.5rem .1rem 0;
    /* background-color: grey; */
}

#customer-details-update-btn {
    width: 9rem;
    height: 3rem;
    margin: 1.5rem 3rem 2rem 0;
    border-radius: 3rem;
    border-width: 0;
    border-color: black;
    background-color: crimson;
    font-size: 1.8rem;
    font-family: monospace;
    color: whitesmoke;
}


/* ---------- CONTRACTS ----------- */

#no-contract {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.contracts-table {
    border-collapse: collapse;
    margin: 2rem auto 0 auto;
    background-color: snow;
    text-align: center;
}

.contracts-table th {
    padding: 1rem 1rem;
}

.contracts-table td {
    padding: .7rem 1rem;
}

#table-caption {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#contract-edit-btn {
    width: 4rem;
    height: 1.5rem;
    border-radius: 3rem;
    border-width: 0;
    background-color: darkturquoise;
    font-size: 1rem;
    font-family: monospace;
    color: whitesmoke;
}

#contract-add-btn {
    width: 12rem;
    height: 3rem;
    margin: 2rem 0 2rem 1rem;
    border-radius: 3rem;
    border-width: 0;
    background-color: crimson;
    font-size: 1.5rem;
    font-family: monospace;
    color: whitesmoke;
}


/* ---- CREATE CONTRACT ----- */

#create-contract-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem 0 2rem 0;
}

.create-contract input {
    width: 10rem;
    height: 1rem;
}

.create-contract div {
    display: flex;
    justify-content: center;
    margin: .5rem .3rem .1rem .3rem;
}

#create-contract-btn {
    width: 13rem;
    height: 3rem;
    margin: 1.5rem 0rem;
    border-radius: 1.5rem;
    border-width: 0;
    background-color: crimson;
    font-size: 1.7rem;
    font-family: monospace;
    color: whitesmoke;
}